*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

body{
    background-image: url(../img/background/Fondo.jpg);
    background-position:center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
}

/*NAV MENU*/

.nav__input:checked + .nav__menu{
    background: white;
}

.nav{
    background: transparent;
    height: 80px;
    color: white;
}



.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__logo{
    font-size: 3rem;
    font-weight: 900;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__label, .nav__input{
    display: none;
}

h1{
    color: white;
}

.subtitle{
    color: white;
}

/*INDEX*/

h2{
    text-align: center;
    color: white;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.473);
    margin-top: 3%;
    
}

.h2__mod{
    margin-top: 3%;
}

h3{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.silence{
    margin-top: 5%;
}

.div__video{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.carousel__main{
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}

/*DISCOGRAPHY*/

.albums{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.albums__title{
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    gap: 20rem;
    margin-top: 5%;
    flex-wrap: wrap;
}

.albums__playlist{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

/*GALERY*/

.galery{
    display: flex;
    flex-direction: column;
}

.galery__article img:hover{
transform: scale(1.03);
transition: 0.3s;
}
.galery__article{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}



.galery__article img{
    width: 40%;
}

/*TOUR*/

.tour__table{
    margin: 140px auto;
    width: 600PX;
    font-size: large;
}

table{
    width: 130%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
}

th, td{
    padding: 40px;
    color: black;
    font-weight: bolder;
}

thead{
    background-color: grey;
    border-bottom: solid 5px black;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: white;
    color: orangered;
}

/*ABOUT US*/

.biography{
    text-align: center;
}

.biography__Parrafo{
    background-color: rgba(0, 0, 0, 0.473);
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    margin: 7rem;
}


/*FOOTER*/
:root{
    --facebook: color=#3b5999;
    --instagram: color=#e4405f;
    --spotify: color=#3b59;
    --twitter: color=#0077b5;
    }
    
    .redes-container{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6%;
    }
    
    .redes-container ul li{
    display: inline-block;
    margin: 0 5rem;
    width: 6rem;
    height: 10rem;
    text-align: center;
    }
    
    .redes-container ul li a{
    display: block;
    padding: 0 2rem;
    background-color: black;
    color: white;
    line-height: 5rem;
    font-size: 2rem;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: .2s;
    }
    
    .redes-container ul:hover a{
    filter: blur(2px);
    }
    
    .redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2); 
    filter: none;
    }
    
    .redes-container ul li .facebook:hover{
    background: var(--facebook);
    }
    
    .redes-container ul li .instagram:hover{
    background: var(--instagram);
    }
    
    .redes-container ul li .spotify:hover{
    background: var(--spotify);
    }
    
    .redes-container ul li .twitter:hover{
    background: var(--twitter);
    }
    
    .footer{
    margin-top: auto;
    }



@media (max-width: 700px) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.5s ease-in-out;
        

    }
    .nav__input:checked + .nav__menu{
    clip-path: circle(100% at center);

}
.nav__item{
    color: black;
    font-weight: bolder;
    font-size: 2.5rem;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

body{
    background-image: url(../img/background/fondo\ Mobile.jpg);
    background-position:center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
}

/*Inicio Mobile*/

.div__iframe{
    height: 20rem;
    width: 80%;
    margin-top: 15%;
}

.footer{
    display: none;
}
.footer__text{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
    overflow: hidden;
}

.h2__mod{
    margin-top: 3%;
    background-color: white;
    color: black;
}
/*Discography Mobile*/

.albums{
    display: none;
}
.albums__mobile{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.albums__mobile--iframe{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}
.carousel__main{
    display: none;
}

/*Tour Mobile*/
.tour__table{
    display: flex;
    width: 60%;
    height: 50%;
    
}
}

@media (min-width: 700px){
    .albums__mobile{
        display: none;
    }
}