.biography{
    text-align: center;
    &__Parrafo{
        background-color: rgba(0, 0, 0, 0.473);
        font-weight: bolder;
        font-size: 2rem;
        color: white;
        margin: 7rem;
    }
}

