
h2{
    text-align: center;
    color: white;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.473);
    margin-top: 3%;
    
}

.h2__mod{
    margin-top: 3%;
}

h3{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.silence{
    margin-top: 5%;
}

.div__video{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.carousel__main{
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}